.icon-el-timeselect {
  background-color: currentColor;  /* 继承文字颜色 */
  mask-image: url('/studio/assets/ElTimeSelect.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/studio/assets/ElTimeSelect.svg'); /* 兼容性 */
}

.icon-el-timepicker {
  background-color: currentColor;  /* 继承文字颜色 */
  mask-image: url('/studio/assets/ElTimePicker.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/studio/assets/ElTimePicker.svg'); /* 兼容性 */
}
.icon-el-number-input {
  background-color: currentColor;  /* 继承文字颜色 */
  mask-image: url('/studio/assets/ElNumberInput.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/studio/assets/ElNumberInput.svg'); /* 兼容性 */
}

.icon-te-markdown {
  background-color: currentColor;  /* 继承文字颜色 */
  mask-image: url('/studio/assets/TeMarkdown.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/studio/assets/TeMarkdown.svg'); /* 兼容性 */
}

.icon-te-ai-editor {
  background-color: currentColor;  /* 继承文字颜色 */
  mask-image: url('/studio/assets/TeAiEditor.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/studio/assets/TeAiEditor.svg'); /* 兼容性 */
}

.icon-te-code-editor {
  background-color: currentColor;  /* 继承文字颜色 */
  mask-image: url('/studio/assets/TeCodeEditor.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/studio/assets/TeCodeEditor.svg'); /* 兼容性 */
}